*{
    margin: 0 auto;
}
.nav{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-top: 30px;
    
}
h1{
    font-size: 16px;
    color: #2D394C;
    opacity: 0.8392156862745098;
    padding-left: 30px;
}
.logo{
    width: 250px;
    height: 50px;
}
.nav2{
    display: flex;
}
.header1{
    width: 100%;
    height: 940px;
    background-color: #54A3DA;
}
.content{
    width: 100%;
    height: 940px;
    background-color: #54A3DA;
    display: flex;
    padding-top: 200px;
}
.textleft{
    width: 300px;
    height: 500px;
}
.info{
    display: block;
}
.form{
    width: 400px;
    height: 200px;
    padding-top: 70px;

}
.gold{
    width: 44px;
    height: 20px;
    background-color: #FFCE54;
    position: relative;
    color: #FFFFFF;
    bottom: 20px;
    right: 70px;
}
.g{
    font-size: 16px;
    color: #F7F7F7;
}
.input{
    
    display: flex;
}
.inputt{
    width: 400px;
    height: 30px;
    padding-left: 10px;
    margin-left: 30px;
}
.but{
    width: 80px;
    height: 33px;
    background-color: #77C344;
    margin-left: 30px;
}
.but1{
    padding: 10px;
    color: #FFFFFF;
    font-size: 15px;
}
.h11{
    font-size: 52px;
    color: #F7F6F2;
}
.h22{
    color: #FFFFFF;
    font-size: 24px;
    padding-top: 60px;
}
.text1{
    width: 600px;
    height: 100px;
}
.info{
    width: 540px;
}
.iphone{
    width: 100%;
    height: 78.7%;
    
}
.zagl{
    padding-top: 50px;
    color: #2D394C;
}
.phoneright{
    padding-left: 200px;
}
.google{
    width: 100%;
    height: 200px;
    background-color: #F8F8F8;
    opacity: 1;
    
}
.googl{
    padding-left: 11%;
    color: #2D394C;
    opacity: 0.47058823529411764;
    padding-top: 70px;
}
.header3text{
    width: 500px;
    height: 700px;
    padding-top: 50px;
    padding-left: 8%;
}
#texth3op{
    color: #9499A2;
    font-size: 14px;
    padding-top: 5px;
}
.notepad{
    
    
}
.header31{
    display: flex;
    padding-top: 100px;
}
.macbook{
    width: 56%;
    height: 600px;
    padding-left: 550px;
}
.zag11{
    color: #2D394C;
    opacity: 0.8;
    font-size: 40px;
    padding-top: 30px;
    
}
.zag1{
    
}
.header3{
    width: 100%;
    height: 1000px;
}
.zag11{
    text-align: center;
}
#div3op{
    padding-top: 20px;
}
.zagimg{
    display: flex;
    width: 450px;
    padding-right: 100px;
}
.header4{
    opacity: 0.611764705882353;
    width: 100%;
    height: 600px;
    
}
.zagh4div{
    text-align: center;
    padding-bottom: 150px;
    
}
.zagh41{
    font-size: 28px;
    color: #2D394C;
    
}
.zagh4{
    color: #2D394C;
    font-size: 40px;
}
.texth4p{
    color: #5A626E;
    font-size: 16px;
    opacity: 0.9;
    padding-top: 50px;
    
    
    
    
}

#textzagh3{
    color: #2D394C;
    opacity: 0.9019607843137255;
    font-size: 22px;
    padding-right: 20px;
}
.header4{
    opacity: 0.611764705882353;
    width: 100%;
    height: 600px;
    
}
.zagh4div{
    text-align: center;
    padding-bottom: 150px;
    
}
.texth4{
    width: 750px;
    height: 500px;
    padding-left: 10%;
}

.zagh4{
    color: #2D394C;
    font-size: 40px;
}
.polnoe{
    opacity: 0.7607843137254902;
    width: 100%;
}
.poln{
    
}
.th4img{
    padding-top: 200px;
}
.oblh4{
   color: black;
}
.stranici{
    /* padding-left: 120%; */
    
    padding-top: 20px;
}
.str{
    padding-left: 120%;
}
/* .header4{
    background-image: url(img/Layer\ 23@1X.png);
   
} */
.header41{
    /* padding-right: 500px; */
    display: flex;
}
.imgcorabl{
    width: 60%;
    height: 500px;
    padding-left: 40%;
}
.zagh5{
    font-size: 40px;
    color: #5A626E;
    text-align: center;
    }
    .texth5{
        font-size: 24px;
        color: #5A626E;
        text-align: center;
        padding-top: 50px;
    }
    .inputh5{
        width: 550px;
        height: 40px;
        opacity: 0.5;
        color: #5A626E;
    }
    .inputdiv{
        text-align: center;
        padding-top: 50px;
    }
    .knop{
        background-color: #77C344;
        padding: 15px 85px 15px 85px;
        margin-left: 50px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        
    }
    .header5{
        width: 100%;
        height: 300px;
        padding-top: 250px;
    }
    .foottext{
        font-size: 14px;
        color: #4D5664;
        opacity: 0.9019607843137255;
        padding-top: 40px;
        
    }
    .foottextt{
        font-size: 14px;
        color: #4D5664;
        opacity: 0.9019607843137255;
        padding-top: 40px;
        
        
    }
    .footer{
        width: 100%;
        height: 80px;
        background-color: rgb(247, 243, 243);
        display: flex;
        
    }
    .footertext{
        display: flex;
        margin-left: 20%;
    }
    .imgfooter{
        padding-left: 3%;
        padding-top: 20px;
    }
    .poloska{
        width: 2px;
        height: 30px;
        background-color: #ff0000;
        margin-top: 30px;
        opacity: 0.3;
        margin-left: 0.5%;
    }
    .imgseti{
        width: 50px;
        height: 50px;
        
    }
    .seti{
        padding-top: 30px;
       
    }